.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 370px;
  max-width: 500px;
  height: auto;
  margin-top: 50px;
  padding: 10px;
  gap: 8px;
  border-radius: 18px;
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
}

.form input {
  color: black;
  background: inherit;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #838282;
  padding: 5px;
  text-align: center;
  transition: all 250ms ease;
}

.form input:hover,
.form input:focus,
.form input:active {
  border: 2px solid #1825e0;
  outline-style: none;
}

.fieldWrapper {
  position: relative;
  width: 100%;
}

label {
  position: absolute;
  top: 25%;
  left: 15px;
  transition: all 250ms ease;
}

.fieldWrapper:hover label {
  background-color: white;
  color: blue;
  transform: translateY(-100%);
}

.inpFilled {
  background-color: white;
  color: blue;
  transform: translateY(-100%);
}

.error {
  position: absolute;
  color: red;
  background-color: white;
  left: 50%;
  transform: translate(-50%, -50%);
}
