.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 50px;
  width: 98%;
  height: auto;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 18px;
  border: 1px solid rgb(222 208 208);
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
}

p {
  margin: 5px;
}

.button {
  background-color: rgb(1, 84, 238);
  text-align: center;
}

.button:hover {
  background-color: rgb(7, 74, 199);
  scale: 1.03;
}
